@import url(http://reset5.googlecode.com/hg/reset.min.css);
/* Main css file */
body{
	font: normal 12px "Bookman Old Style", Arial;
}

h3{
	margin-bottom: 15px;
	font-weight: bold;
}

.container{
	width: 520px;
	margin: 0 auto;
}

.vrste-jela{
}

.izbor-premaza ul li{
	float: left;
	padding: 0 10px;
	list-style: none;
}

